*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.navigation .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black)
}

.navigation .logo i{
    color:#e2711d;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px;
    width: 100%;
    margin: auto;
    background-color:  #fae1dd;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    
}
.right-nav .like{
    background-color: #fff0ee;
    color: #e2711d;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: #202020;
}
.right-nav .like span{
    background-color: #e2711d;
}
.right-nav .cart span{
    background-color: #4eb060;
}
.menu li a:hover,
.menu .active{
    color: #e2711d;
    transition: all ease 0.3s;
}

#Aboutus-banner{
    width: 1205px;
    height: 550px;
    border-radius: 30px;
    background-color:#fae1dd;;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url("../images/About\ Gr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: 20px;
}
.Aboutus-heading {
    text-align:left;
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}


/*footer*/
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid #e2711d;
    margin-top: 300px;

}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
}
footer .logo i{
    color: #e2711d;
}
.footer-social{
    display: flex;
    margin-top: 10px;
}
.footer-social a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    font-size: 1.2rem;
    margin: 0px 5px;
}
.footer-links strong{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
}
.footer-links ul{
    margin-top: 10px;
}
.footer-links ul li a{
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 1rem;
    letter-spacing: 1px;

}

